*::-webkit-input-placeholder {
	color: #83a7a5;
	opacity: 1;
}
*:-moz-placeholder {
	color: #83a7a5;
	opacity: 1;
}
*::-moz-placeholder {
	color: #83a7a5;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #83a7a5;
	opacity: 1;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

.navbar {
    background: url("img/slidecity.jpg") no-repeat center;
    background-size: cover;
}

.navbar-row {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-hr {
    height: 1px;
    opacity: 0.2;
    background-color: white;
    margin: 0 auto;
}
.about-us-hr {
    width: 65px;
    height: 1px;
    background-color: #6fb048;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.logo, .phone {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.logo  {
    font-family: "Proxima Nova", sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 46px;
    border-right: 1px solid #ffffff;
    padding-right: 26px;
}
.logo-black {
    color: #0f5f5c;
}

.phone {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 20px;
    padding-left: 20px;
    background: url("img/phonewhite.png") no-repeat;
}
.phone-gray {
    color: #83a7a5;
    background: url("img/phonegray.png") no-repeat;
}

a.logo:hover, a.logo:focus, a.phone:hover, a.phone:focus {
    color: #ffffff;
    text-decoration: none;
}


.main-nav {
    overflow: hidden;
}

.main-nav-menu li {
    display: inline-block;
    margin-left: 26px;
}


.main-nav-menu li a {      /* цвет всем ссылкам*/
    color: #ffffff;
    opacity: 0.7;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.main-nav-menu-contact li a {
    color: #83a7a5;
}

.get-started {
    background-color: #ffffff;
    opacity: 0.35;
    border-radius: 2px;
}
.get-started-contact {
    background-color: #6fb048;
    opacity: 1;
}

.main-nav-menu li.get-started a {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 31px;
    text-transform: uppercase;
    padding: 13px;
}
.main-nav-menu li.get-started-contact a {
    color: #ffffff;
    opacity: 1;
}

.main-nav-menu li.active a {
    opacity: 1;
}

.intro {
    padding: 93px 0 173px;
}


.intro h1 {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    color: #ffffff;
    max-width: 800px;
    margin: 48px auto;
}

.btn {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #6fb048;
    border-radius: 2px;
    padding: 16px 27px;
    text-decoration: none;
}

.btn:hover, .download-main-topline .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2991a2;
    transition: all 0.5s ease 0s;
}

.about-us-main {
    padding-bottom: 100px;
}

.about-us-topline {
    margin: 80px auto;
    max-width: 750px;
}
h2 {
    color: #0f5f5c;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

.about-us-topline p {
    margin-top: 14px;
}

.about-us-topline p, .about-us p {
    color: #83a7a5;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.about-us h4 {
    color: #0f5f5c;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 6px;
}


.about-us-columns .col-sm-4:first-child h4  {
    margin-top: 2px;
}

.about-us-columns .col-sm-4:last-child h4 {
    margin-top: 8px;
}

.our-team-main {
    background-color: #eef1ec;
    padding-bottom: 121px;

}



.our-team-main-columns h5 {
    color: #0f5f5c;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.our-team-main-columns p {
    color: #83a7a5;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.our-team-main-columns h5, .our-team-main-columns p {
    text-align: left;
    padding-left: 9%;
}

.download-main {
    height: 200px;
    background: rgba(111, 176, 72, 0.95);
    background-image: url("img/downloadbcg.jpg");
    display: flex;
    align-items: center;
}
.download-main-contact {
    background-image: url("img/downloadcontact.jpg");
}

.download-main-topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.download-main-topline h3 {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 7px;
}


.download-main-topline p {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.download-main-contact h3 {
    color: #0f5f5c;
}

.download-main-contact p {
    color: #83a7a5;
}

.download-main-topline .btn {
    background-color: #49732f;
    font-family: Montserrat, sans-serif;
}
.download-main-contact .btn {
    background-color: #6fb048;
}

.footer-main-topline {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:space-between;
    margin: 60px auto;
    line-height: 28px;
    color: #83a7a5;
    font-size: 13px;
}

.footer-main-topline a {
    color: #83a7a5;
}

footer h6 {
    color: #0f5f5b;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 22px;

}

.footer-main-address h6 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    text-transform: uppercase;
}
.footer-main-address span {
    padding-left: 14px;
    color: #83a7a5;
    line-height: 20px;
}
.footer-main-address li:nth-child(2) span {
    color: #0f5f5c;
    line-height: 28px;
    padding: 0;
}

.footer-main-padding {
    padding-bottom: 0.5em;
}


.footer-main-newsletter {
    position: relative;
    line-height: 18px;
}
.footer-main-relative {
    position: relative;
}

.email {
    width: 230px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #edf1eb; /* layer fill content */
    border: none;
    padding: 0 10px;
    color: #83a7a5; /* text color */
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    position: relative;
    margin-top: 10px;
}

.footer-main-icon {
    left: 89%;
    position: absolute;
    top: 42%;
}
.footer-main-icon a {
    color: #6faf47
}
.footer-main-bottomline {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:space-between;
    margin: 10px 0;

}

.footer-main-bottomline p {
    height: 13px;
    color: #83a7a5;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.social-media li {
    display: inline-flex;
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    margin-right: 6px;
    text-align: center;
}
.social-media a {
    display: block;
    margin: 0 auto;
    color: #ffffff;
}
.twitter {
    background-color: #55acee;
}
.facebook {
    background-color: #3b5998;
}
.instagram {
    background-color: #3f729b;
}
.dribble{
    background-color: #ea4c89;
}
.github {
    background-color: #333;
}

/*Contact us*/
.logo-black {
    border-right: 1px solid #83a7a5;
}


a.logo-black:hover, a.logo-black:focus {
    color: #0f5f5c;
    text-decoration: none;
}
a.phone-gray:hover, a.phone-gray:focus {
    color: #83a7a5;
}

.message-container {
    width: 996px;
    margin: 0 auto;
    padding: 0 15px;
}


.message input, textarea{
    display: block;
    width: 95%;
    height: 46px;
    background-color: white;
    border: 1px solid #c1d3d2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 26px;
    padding-left: 10px;
}

textarea {
    height: 124px;
}


.message-form {

    padding-left: 10%;
}

.message-btn {
    text-align: left;
}
.message-form .btn {
    padding: 13px 37px;
}

.contact {
    text-align: left;
    padding-right: 10%;
}
.contact-margin {
    padding: 35px 20px 53px 46px;
    border: 2px dashed #c1d3d2;
}
.contact h4{
    color: #0f5f5c;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.contact p {
    color: #83a7a5;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.contact-address {
    margin-bottom: 21px;
    padding-left: 27px;
    position: relative;
    background: url("img/address.png") no-repeat ;
}

.contact-phone, .contact-mail {
    padding-left: 27px;
    margin-bottom: 5px;
    position: relative;
}
.contact-phone {
    background: url("img/phone.png") no-repeat ;
}
.contact-mail {
    background: url("img/mail.png") no-repeat 0 50% ;
}
/* Pricing */

.navbar-pricing {
    background-color: #eef1ec;
}

.navbar-pricing p {
    color: #83a7a5;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.pricing-plans div {
    float: left;
    background-color: white;
    border: 1px solid #c1d3d2;
    border-radius: 3px 0px 0px 3px;
}
.pricing-plans {
    overflow: hidden;
    margin: 0 auto;
}
.plans-properties {
    text-align: left;
}